.error {
    background: #09071f;
    border: 2px solid #00ffd1;
    box-sizing: border-box;
    border-radius: 65px 10px 65px 65px;
    margin-top: 58px;
    margin-bottom: 106px;
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2.2px solid #fd6b63;
        border-radius: 20px 5px 20px 20px;
        margin: 47px 55px 0;
        padding-left: 25px;
        padding-right: 33px;
        &__right {
            display: flex;
            align-items: center;
            &__icon {
                margin-left: 30px;
                i {
                    border-left: 2px solid rgba(253, 107, 99, 0.5);
                    padding-left: 30px;
                    font-size: 33px;
                }
            }
            &__text {
                padding: 27px 0 25px 0;

                span {
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 24px;
                    color: #ffffff;
                }
            }
        }
        &__left {
            &__text {
                display: flex;
                align-items: center;
                > span {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 30px;
                    margin-left: 17px;
                    color: #8b89a1;
                }
                i {
                    font-size: 20px;
                }
            }
        }
    }
    &__content {
        &__background {
            text-align: center;
        }
    }
}
@media (max-width: 1200px) {
    .error {
        &__head {
            &__right {
                &__text {
                    span {
                        font-size: 17px;
                    }
                }
            }
            &__left {
                &__text {
                    span {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .error {
        &__head {
            margin-top: 35px;
            &__right {
                &__icon {
                    margin-left: 15px;
                    i {
                        padding-left: 15px;
                    }
                }
                &__text {
                    padding: 17px 0 15px 0;

                    span {
                        font-size: 14px;
                    }
                }
            }
            &__left {
                &__text {
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .error {
        &__head {
            display: block;
            padding-bottom: 10px;
            &__right {
                &__text {
                    padding-bottom: 5px;
                }
            }
            &__left {
                &__text {
                    justify-content: center;

                    span {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
