.blog-content {
    margin-top: 67px;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        &__right {
            display: flex;
            align-items: center;
            &__icon {
                margin-left: 11px;
                // a {
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     font-size: 27px;
                //     background: #fd6b63;
                //     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                //     border-radius: 20px 20px 0px 20px;
                // }

                i {
                    background: #fd6b63;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 20px 20px 0px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 27px;
                    height: 27px;
                    font-size: 13px;
                    border-radius: 20px 20px 0 20px;
                }
                &--blue {
                    i {
                        background: #2e6fd7;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 20px 20px 0px 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 27px;
                        height: 27px;
                        font-size: 13px;
                        border-radius: 20px 20px 0 20px;
                    }
                }

                &--green {
                    i {
                        background: #00cd9f;
                        box-shadow: 0px 10px 45px 10px rgba(0, 255, 133, 0.15);
                        border-radius: 20px 20px 0px 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 27px;
                        height: 27px;
                        font-size: 13px;
                        border-radius: 20px 20px 0 20px;
                    }
                }
            }
            &__news {
                h3 {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    color: #ffffff;
                    span {
                        color: #fd6b63;
                        margin-right: 4px;
                    }
                }

                &--span-green {
                    h3 {
                        span {
                            color: #00cd9f;
                        }
                    }
                }

                &--span-blue {
                    h3 {
                        span {
                            color: #2e6fd7;
                        }
                    }
                }
            }
        }

        &__left {
            a {
                font-weight: 300;
                font-size: 13px;
                line-height: 19px;
                text-align: right;
                color: #8b89a1;
            }
        }

        &--subset {
            margin-bottom: 20px;
        }
    }
    .roow {
        display: flex;
        &__total-content {
            flex: 0 0 calc(100% - 298px);
            width: calc(100% - 298px);
            margin-right: 0;
            margin-left: 33px;
            &__cool-context {
                margin-bottom: 32px;
            }
        }

        .cool-slidebar {
        }
    }

    &__total {
        &__blog {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 30px;
            position: relative;
            transition: 0.3s;

            $blog: &;

            &__img {
                width: 265px;
                position: relative;
                transition: 0.3s;
                img {
                    width: 100%;
                    border-radius: 17px;
                    box-shadow: inset 0px 0px 45px 10px rgba(19, 17, 41, 0.15);
                }

                &__label {
                    position: absolute;
                    background-color: #00ffd1;
                    box-shadow: 0px 10px 45px 10px rgba(0, 255, 133, 0.25);
                    border-radius: 7px;
                    padding: 3px 11px;
                    top: 10px;
                    left: 10px;
                    overflow: hidden;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s;
                    span {
                        color: #131129;
                        font-weight: 300;
                        font-size: 9px;
                        line-height: 13px;
                        text-align: center;
                    }
                }

                &__user {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s;

                    overflow: hidden;
                    &__data {
                        display: flex;
                        align-items: center;
                        background: linear-gradient(180deg, #26243c 0%, rgba(38, 36, 60, 0.7) 100%);
                        backdrop-filter: blur(20px);
                        border-radius: 9px;
                        position: absolute;
                        top: 59px;
                        right: 7px;
                        padding: 6px 11px;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s;
                        overflow: hidden;

                        &__img {
                            margin-left: 8px;
                            img {
                                border: none;
                            }
                        }

                        &__name {
                            display: grid;
                            overflow: hidden;
                            position: relative;
                            width: 50px;

                            span {
                                font-weight: 300;
                                font-size: 9px;
                                line-height: 13px;
                                text-align: center;
                                color: #ffffff;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                    }

                    &__date {
                        background: linear-gradient(180deg, #26243c 0%, rgba(38, 36, 60, 0.7) 100%);
                        backdrop-filter: blur(20px);
                        border-radius: 7px;
                        position: absolute;
                        top: 59px;
                        left: 8px;
                        padding: 8px 15px;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s;
                        span {
                            font-weight: 300;
                            font-size: 9px;
                            line-height: 13px;
                            text-align: center;
                            color: #ffffff;
                        }
                    }
                }

                &__text {
                    position: absolute;
                    padding: 15px 11px 12px 9px;
                    bottom: 8px;
                    margin-right: 7px;
                    margin-left: 8px;
                    overflow: hidden;
                    display: grid;
                    transition: 0.3s;
                    background: linear-gradient(180deg, #26243c 0%, rgba(38, 36, 60, 0.5) 100%);
                    backdrop-filter: blur(20px);
                    border-radius: 12px;
                    height: 46px;

                    p {
                        font-weight: 300;
                        font-size: 13px;
                        line-height: 19px;
                        text-align: center;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: #ffffff;
                        transition: 0.3s;
                    }
                }
            }

            &:hover {
                #{$blog}__img {
                    &__text {
                        background: rgba(38, 36, 60, 0.95);
                        backdrop-filter: blur(20px);
                        border-radius: 12px;
                        height: 65px;
                        p {
                            white-space: normal;
                        }
                    }

                    &__label {
                        visibility: visible;
                        overflow: visible;
                        opacity: 1;
                    }

                    &__user {
                        visibility: visible;
                        overflow: visible;
                        opacity: 1;
                        &__data {
                            visibility: visible;
                            opacity: 1;
                        }
                        &__date {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            a {
                @include absolute(0, 0, 0, 0);
            }
        }
    }

    &__page-number {
        text-align: center;
        display: flex;
        justify-content: center;
        padding-top: 12px;
        ul {
            display: flex;
            li {
                margin-left: 10px;
                background: #1f1d34;
                color: #ffffff;

                border-radius: 8px;
                a {
                    display: inline-block;
                    margin: 0;
                    width: 40px;
                    height: 40px;
                    padding: 9px 0;
                    text-align: center;
                    cursor: pointer;
                    transition: 0.3s;
                    font-weight: 800;
                    font-size: 17px;
                    line-height: 27px;
                    align-items: center;
                    color: #ffffff;

                    &.active {
                        background: #00ffd1;
                        color: #131129;
                        border-radius: 8px;
                    }
                }

                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .blog-content {
        .roow {
            display: flex;
            flex-direction: column;
            &__total-content {
                flex: unset;
                width: unset;
                margin-left: 0;
                order: 2;
            }
        }

        &__total {
            &__blog {
                &__img {
                    width: 400px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .blog-content {
        &__title {
            &__right {
                &__icon {
                    margin-left: 7px;
                }
                &__news {
                    h3 {
                        font-size: 14px;
                    }
                }
            }
        }
        &__total {
            &__blog {
                display: block;
                &__img {
                    width: unset;
                }
            }
        }
        .roow {
            display: flex;
            flex-direction: column;
            &__total-content {
                flex: unset;
                width: unset;
                margin-left: 0;
                order: 2;
            }
        }
    }
}

@media (max-width: 768px) {
    .blog-content {
        &__total {
            &__blog {
                &__img {
                    &__text {
                        right: 30px;
                        left: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .blog-content {
        &__total {
            column-count: 1;

            &__blog {
                &__img {
                    &__label {
                        top: 20px;
                        left: 20px;
                        padding: 7px 28px;
                        span {
                            font-weight: 400;
                            font-size: 11px;
                        }
                    }
                    &__user {
                        &__data {
                            top: 118px;
                            padding: 10px 26px;
                            right: 20px;

                            &__name {
                                span {
                                    font-size: 11px;
                                }
                            }

                            &__img {
                                margin-left: 8px;
                            }
                        }
                        &__date {
                            top: 118px;
                            padding: 10px 26px;
                            left: 20px;
                            span {
                                font-size: 11px;
                            }
                        }
                    }

                    &__text {
                        margin-left: 0;
                        margin-right: 0;
                        right: 30px;
                        left: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .blog-content {
        &__total {
            &__blog {
                &__img {
                    &__user {
                        &__data {
                            top: 80px;
                        }
                        &__date {
                            top: 80px;
                        }
                    }
                }
            }
        }
    }
}
