.comment {
    margin-bottom: 50px;
    &__wrapper {
        &__item {
            overflow: hidden;
            background-color: $navy-blue;
            border-radius: 20px 2px 20px 20px;
            padding: 21px;
            transition: .3s;
            $item: &;
            position: relative;
            &::before {
                opacity: 0;
                transition: .3s;
                content: "";
                @include absolute(-30px, f, f, 0);
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
                border-radius: 40px;
                width: 50px;
                height: 100px;
                transform: rotate(-40deg);
            }
            &__header {
                margin-bottom: 20px;
                &__number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    background: linear-gradient(to bottom, rgba(240, 240, 240, 0.2), rgba(240, 240, 240, 0));
                    border-radius: 50%;
                    span {
                        transition: .3s;
                        font-size: 30px;
                        font-weight: 600;
                        color: #fff;
                        &:first-child {
                            opacity: 0;
                            @include absolute(30px, f, f, 30px);
                            font-size: 50px;
                            font-weight: 800;
                            color: rgba(255, 255, 255, 0.4);
                        }
                        &:last-child {
                            opacity: 1;
                        }
                    }
                }
                .dn-daler {
                    transition: .3s;
                    opacity: 0;
                    width: 0;
                    height: 0;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 50%;
                    font-size: 19px;
                }
            }

            &__title {
                margin-bottom: 20px;
                display: flex;
                a {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 20px;
                    line-height: 31px;
                    font-weight: 600;
                    color: #fff;
                }
            }
            &__desc {
                margin-bottom: 20px;
                height: 132px;
                overflow: hidden;
                p {
                    font-size: 15px;
                    font-weight: 300;
                    color: #9f9db4;
                    line-height: 22px;
                }
            }
            &__button {
                a {
                    line-height: 50px;
                    background-color: rgba(255, 255, 255, 0.08);
                    border-radius: 9px;
                    padding: 0 18px 0 20px;
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    font-weight: 300;
                    color: #fff;
                    transition: .3s;
                }
            }
            &:hover {
                background-color: $blue;
                &::before {
                    opacity: 1;
                }
                #{$item}__header {
                    // margin-bottom:40px;
                    &__number {
                        span {
                            &:first-child {
                                opacity: 1;
                            }
                            &:last-child {
                               
                                opacity: 0;
                            }
                        }
                    }
                    .dn-daler {
                        opacity: 1;
                        width: 30px;
                        height: 30px;
                    }
                }
                #{$item}__button {
                    a {
                        background-color: #fff;
                        color: $blue1;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .comment {
        &__wrapper {
            &__item {
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .comment {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .comment {
        margin-bottom: 0;
    }
}
