.comment {
    margin-bottom: 50px;
    &__wrapper{
        &__item {
            overflow: hidden;
            background-color: $navy-blue;
            border-radius: 20px 2px 20px 20px;
            padding: 21px;
            transition: 0.3s;
            $item: &;
            position: relative;
            &::before
            {
                display: none;
                transition: 0.3s;
                content: "";
                @include absolute(-30px,f,f,0);
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
                border-radius: 40px;
                width: 50px;
                height: 100px;
                transform: rotate(-40deg);
            }
            &__header
            {
                margin-bottom: 20px;
                &__number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    background: linear-gradient(to bottom, rgba(240, 240, 240, 0.2), rgba(240, 240, 240, 0));
                    border-radius: 50%;
                    span {
                        font-size: 30px;
                        font-weight: 600;
                        color: #fff;
                    }
                }   
                &__icon
                {
                    display: none;
                    i
                    {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height:30px;
                        background-color: rgba(255,255,255,0.4);
                        border-radius: 50%;
                        font-size: 19px;
                        
                    }
                }
            }
         
            &__title {
                margin-bottom: 20px;
                display: flex;
                a {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 20px;
                    line-height: 31px;
                    font-weight: 600;
                    color: #fff;
                }
            }
            &__desc {
                margin-bottom: 20px;
                height: 132px;
                overflow: hidden;
                p {
                    font-size: 15px;
                    font-weight: 300;
                    color: #9f9db4;
                    line-height: 22px;
                }
            }
            &__button {
                a {
                    line-height: 50px;
                    background-color: rgba(255, 255, 255, 0.08);
                    border-radius: 9px;
                    padding: 0 18px 0 20px;
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    font-weight: 300;
                    color: #fff;
                    transition: 0.3s;
                }
            }
            &:hover {
                background-color: $blue;
                &::before
                {
                    display: block;
                }
                #{$item}__header
                {
                    height: 50px;
                    // margin-bottom:40px;  
                    &__number
                    {
                        @include absolute(30px,f,f,30px);
                        background:transparent;
                        span
                        {
                            font-size: 50px;
                            font-weight: 800;
                            color: rgba(255,255,255,0.4);
                        }
                    }
                    &__icon
                    {
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        background: linear-gradient(179.9deg, rgba(255, 255, 255, 0.05) 0.09%, rgba(255, 255, 255, 0) 71.46%);
                        border-top: 1px solid rgba(255,255,255,0.2);
                        border-radius: 40px;
                        width: 50px;
                        height:100px;
                    }
                }
                #{$item}__button {
                    a {
                        background-color: #fff;
                        color: $blue1;
                    }
                }
            }
        }
    }
}

@media(max-width:992px)
{
    .comment
    {
        &__wrapper
        {
            &__item
            {
                margin-bottom: 30px;
            }
        }
    }
}

@media(max-width:768px)
{
    .comment
    {
        margin-bottom: 20px;
    }
}

@media(max-width:576px)
{
    .comment
    {
        margin-bottom: 0;
    }
}