.login {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        $wrapper: &;
        &__content {
            margin-top: 50px;

            transition: 0.3s;
            padding: 48px 30px 0 30px;
            width: 100%;
            max-width: 385px;
            background-color: rgba(29, 25, 51, 0.8);
            border-radius: 25px;
            position: relative;
            &::before {
                content: "";
                @include absolute(0, 50%, f, f);
                transform: translateX(50%);
                border-top: 5px solid $green2;
                box-shadow: 0 10px 45px 10px rgba(0, 255, 133, 0.15);
                width: 190px;
                border-radius: 0 0 20px 20px;
            }
            &__title {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 35px;
                margin-bottom: 20px;
                border-bottom: 1px solid #1f1b32;
                &__icon {
                    margin-left: 8px;
                    i {
                        font-size: 50px;
                    }
                }
                &__text {
                    h3 {
                        font-size: 15px;
                        font-weight: 700;
                        color: #fff;
                        line-height: 24px;
                    }
                    p {
                        font-size: 11px;
                        font-weight: 400;
                        color: #a9a7b7;
                        line-height: 17px;
                    }
                }
            }
            &__form {
                text-align: center;
                &__title {
                    margin-bottom: 27px;
                    h3 {
                        font-size: 20px;
                        font-weight: 600;
                        color: #a9a6bd;
                        line-height: 31px;
                    }
                    p {
                        margin-top: 12px;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 23px;
                        color: #a9a7b7;
                        span {
                            color: $green2;
                        }
                    }
                }

                &__item {
                    &__input {
                        .form-control:disabled,
                        .form-control[readonly] {
                            background-color: #110d24;
                        }
                        position: relative;
                        i {
                            font-size: 20px;
                            @include absolute(50%, f, f, 20px);
                            transform: translateY(-50%);
                            padding-right: 17px;
                            border-right: 1px solid #1d1930;
                        }
                        input {
                            line-height: 55px;
                            height: 55px;
                            background-color: #110d24;
                            border-radius: 10px;
                            padding: 0 20px 0 65px;
                            border: none;
                            margin-bottom: 20px;
                            color: #817e95;
                            font-size: 16px;
                            font-weight: 300;
                            text-align: left;
                            &::placeholder {
                                color: #817e95;
                                font-size: 16px;
                                font-weight: 300;
                            }
                            &:hover,
                            &:focus {
                                background-color: #110d24;
                                box-shadow: none;
                                outline: 0;
                            }
                        }
                        &.right {
                            i {
                                @include absolute(50%, 20px, f, unset);
                                border-left: 1px solid #1d1930;
                                border-right: none;
                                padding-left: 17px;
                                padding-right: 0;
                            }
                            input {
                                text-align: right;
                                padding: 0 65px 0 20px;
                            }
                        }
                    }
                    .form-group {
                        &.received-code {
                            transition: 0.3s;
                            height: 0;
                            overflow: hidden;
                            opacity: 0;

                            margin-bottom: 0;
                        }
                        label {
                            font-size: 15px;
                            font-weight: 400;
                            color: #636077;
                            line-height: 23px;
                            margin-bottom: 20px;
                            &.green {
                                color: $green2;
                            }
                        }
                    }
                    &__resend-code {
                        transition: 0.3s;
                        height: 0;
                        opacity: 0;
                        overflow: hidden;
                        display: flex;
                        align-content: center;
                        justify-content: space-between;
                        margin-bottom: 0px;
                        &__timer {
                            p {
                                font-size: 14px;
                                font-weight: 300;
                                color: #636077;
                                span {
                                    color: #9affed;
                                }
                            }
                            a {
                                font-size: 14px;
                                font-weight: 300;
                                color: #9affed;
                            }
                        }
                        &__edit {
                            a {
                                font-size: 14px;
                                font-weight: 300;
                                color: #636077;
                            }
                        }
                    }
                    .btn {
                        margin-bottom: 30px;
                        position: relative;

                        span {
                            transition: 0.3s;
                            &:first-child {
                                opacity: 1;
                            }
                            &:last-child {
                                opacity: 0;
                                @include absolute(0, 0, 0, 0);
                            }
                        }
                    }
                }
            }
            &__select {
                margin-bottom: 19px;
                &__title {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    &::before {
                        z-index: -1;
                        content: "";
                        @include absolute(50%, 0, f, 0);
                        transform: translateY(-50%);
                        border-top: 1px solid #fff;
                    }
                    h3 {
                        line-height: 21px;
                        font-size: 14px;
                        font-weight: 300;
                        padding: 0 14px;
                        color: #636077;
                        background-color: rgba(29, 25, 51, 0.8);
                    }
                }
                &__socials {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        li {
                            margin-left: 10px;
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 40px;
                                height: 40px;
                                background-color: rgba(255, 255, 255, 0.1);
                                border-radius: 7px;
                                font-size: 20px;
                            }
                            &:last-child {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
        &__text {
            transition: 0.3s;
            margin-top: 40px;
            width: 100%;
            max-width: 385px;
            text-align: center;
            p {
                font-size: 14px;
                font-weight: 300;
                color: #fff;
                line-height: 20px;
            }
        }
        &.code {
            #{$wrapper}__content {
                &__form {
                    &__item {
                        .received-code {
                            opacity: 1;
                        }
                        &__resend-code {
                            opacity: 1;
                        }
                    }
                }
            }
            #{$wrapper}__text {
                opacity: 0;
            }
            #{$wrapper}__content__form__item__register .btn {
                span {
                    &:first-child {
                        opacity: 0;
                    }
                    &:last-child {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
