.sidebar-user {
    background: linear-gradient(180deg, #1d1933 0%, rgba(29, 25, 51, 0.6) 100%);
    box-shadow: 0px 5px 25px 20px rgba(16, 14, 37, 0.4);
    border-radius: 30px;
    position: sticky;
    bottom: 0;
    top: 65px;
    padding: 20px 15px;

    &__item {
        ul {
            li {
                background: rgba(255, 255, 255, 0.05);
                border-radius: 13px;
                margin-bottom: 20px;
                position: relative;
                padding-right: 17px;
                display: flex;
                line-height: 60px;
                align-items: center;
                cursor: pointer;
                > * {
                    z-index: 2;
                }
                &:last-child {
                    background: #0e0b24;
                }
                > span {
                    font-size: 17px;
                    color: #ffffff;
                }
                &.active::before {
                    opacity: 1;
                }
                i {
                    margin-left: 21px;
                    font-size: 25px;
                }
                &::before {
                    content: "";
                    z-index: 1;
                    opacity: 0;
                    position: absolute;
                    @include absolute(0, 0, 0, 0);
                    transition: 0.3s;
                    background: linear-gradient(90deg, #00ffd1 0%, #00c395 55.21%);
                    box-shadow: 0px 10px 45px 10px rgba(0, 255, 133, 0.15);
                    border-radius: 13px;
                }
                &:hover::before {
                    opacity: 1;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .sidebar-user {
        &__item {
            ul {
                li {
                    margin-bottom: 12px;
                    padding-right: 13px;
                    line-height: 52px;
                    > span {
                        font-size: 14px;
                    }
                    i {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .sidebar-user {
        margin-bottom: 30px;
        &__item {
            ul {
                column-count: 3;

                li {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .sidebar-user {
        &__item {
            ul {
                column-count: 2;
            }
        }
    }
}
@media (max-width: 470px) {
    .sidebar-user {
        &__item {
            ul {
                column-count: 1;
                display: block;
            }
        }
    }
}
