.cool-slidebar {
    display: flex;
    flex-direction: column;
    .blog-sidebar {
        .cool-side-categories {
            flex: 0 0 265px;
            max-width: 265px;
            background: linear-gradient(180deg, #27243c 0%, rgba(39, 36, 60, 0.5) 100%, rgba(39, 36, 60, 0.5) 100%);
            border-radius: 20px;
            padding: 0 20px 11px 20px;

            &--padding {
                padding-bottom: 16px;
            }
            &__head {
                margin-bottom: 38px;
                h3 {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #fff;
                    position: relative;
                    text-align: center;
                    padding-top: 20px;
                    &::before {
                        content: "";
                        position: absolute;
                        height: 5px;
                        top: 0;
                        right: 50%;
                        transform: translateX(50%);
                        background-color: #00ffd1;
                        width: 100px;
                        background: #00ffd1;
                        box-shadow: 0px 10px 45px 10px rgba(0, 255, 133, 0.15);
                        border-radius: 0px 0px 15px 15px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        background: rgba(53, 50, 74, 0.5);
                        width: 225px;
                        height: 1px;
                        top: 58px;
                        right: 50%;
                        transform: translateX(50%);
                    }
                }

                &--after {
                    margin-bottom: 25px;
                    h3 {
                        &::after {
                            display: none;
                        }
                    }
                }
            }

            &__content {
                &__menu-saidebar {
                    ul {
                        li {
                            position: relative;
                            margin-bottom: 10px;
                            a {
                                @include absolute(0, 0, 0, 0);
                            }
                        }
                    }
                    &__news {
                        &__img {
                            position: relative;
                            border-radius: 10px;
                            img {
                                background: linear-gradient(270deg, #131129 0%, rgba(19, 17, 41, 0.2) 100%);
                                border-radius: 10px;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }

                            &__title {
                                position: absolute;
                                top: 19px;
                                padding: 0 12px;
                                overflow: hidden;
                                display: grid;
                                span {
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 21px;
                                    text-align: center;
                                    color: #ffffff;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                            }

                            &::before {
                                content: "";
                                @include absolute(0, 0, 0, 0);
                                background: linear-gradient(270deg, #131129 0%, rgba(19, 17, 41, 0.2) 100%);
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .cool-slidebar {
        .blog-sidebar {
            &--user {
                margin-bottom: 0;
            }

            .cool-side-categories {
                margin-bottom: 30px;
                &--margin{
                    margin-bottom: 0;  
                 }
            }
        }
    }
}

@media (max-width: 768px) {
    .cool-slidebar {
        .blog-sidebar {
            &--user {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 576px) {
    .cool-slidebar {
        justify-content: center;
        flex: 0 0 100%;
        width: 100%;

        .blog-sidebar {
            .cool-side-categories {
                margin-left: 0;
                flex: 0 0 100%;

                max-width: 100%;
            }
        }
    }
}
