$navy-blue: #1d1933;
$navy-blue30: #28253d;
$black: #000015;
$green: #2aaf8f;
$green1: #28f5c7;
$green2:#00ffd1;
$light-green: #9ebcb7;
$blue: #03139f;
$blue1: #0c0fa8;
$yellow: #ffcd6b;
$yellow1:#b7d057;
$yellow2:#ffe500;
$purple: #d5a0ff;
$red:#f8827b;
$red1:#FD6B63;
$yellow3: #FBFF25;
$textcolor: #9ed3ff;