.roow {
    display: flex;
    padding-bottom: 70px;
    .cool-toolbar {
        flex: 0 0 100px;
        width: 100px;
    }
    .cool-content {
        flex: 0 0 calc(100% - 160px);
        width: calc(100% - 160px);
        margin-right: 60px;
        .roow-sidebar {
            display: flex;
            &--mt40 {
                margin-top: -30px;
            }
            &--mt60px {
                margin-top: -10px;
            }
            &--mt50px {
                margin-top: -20px;
            }
            .cool-sidebar-list {
                flex: 0 0 285px;
                width: 285px;
            }
            .cool-context {
                flex: 0 0 calc(100% - 340px);
                width: calc(100% - 340px);
                margin-right: 55px;
            }
            .cool-sidebar-cart {
                flex: 0 0 330;
                width: 330px;
            }
            .cool-context-cart {
                flex: 0 0 calc(100% - 380px);
                width: calc(100% - 380px);
                margin-left: 50px;
            }
        }
    }
    &--user {
        padding-bottom: 0;
        display: block;
    }
}
.row-user {
    display: flex;

    .col-sidebar {
        flex: 0 0 285px;
        max-width: 285px;
        margin-left: 65px;
    }
    .col-content {
        flex: 0 0 calc(100% - 350px);
        width: calc(100% - 350px);
    }
}
.btn {
    transition: 0.3s;
    border: 0.6px solid $green2;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    line-height: 53px;
    font-size: 15px;
    font-weight: 300;
    color: #9affed;
    padding: 0 10px;
    &:hover {
        background-color: $green2;
        color: #09051c;
        box-shadow: none;
        outline: none;
    }
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.title-icon {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 27px;
        height: 27px;
        font-size: 16px;
        border-radius: 20px 20px 0 20px;
        margin-left: 13px;
    }
    h3 {
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        line-height: 27px;
    }
}

//swetalert//
.swal2-popup.swal2-toast {
    background: linear-gradient(to bottom, #1d1933, #130f29) !important;
    border-radius: 12px !important  ;
    box-shadow: none !important ;
    padding: 17px 25px !important   ;
}
body.swal2-toast-shown .swal2-container.swal2-top-end,
body.swal2-toast-shown .swal2-container.swal2-top-right {
    top: 50px;
    right: 50px;
}
.swal2-html-container {
    display: flex;
    align-items: center;

    p {
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
        &.success {
            color: #73ffe6;
        }
        &.unsuccessful {
            color: #fd6b63;
        }
        &.warning {
            color: #e7fd63;
        }
        img {
            margin-left: 15px;
        }
    }
}
.swal2-popup.swal2-toast .swal2-html-container {
    margin: 0;
}
//end swetalert//

@media (max-width: 1200px) {
    .roow {
        .cool-content {
            .roow-sidebar {
                flex-wrap: wrap;
                .cool-sidebar-list {
                    flex: 0 0 100%;
                    width: 100%;
                }
                .cool-context {
                    flex: 0 0 100%;
                    width: 100%;
                    margin-right: 0px;
                }
                .cool-sidebar-cart {
                    flex: 0 0 100%;
                    width: 100%;
                }
                .cool-context-cart {
                    flex: 0 0 100%;
                    width: 100%;
                    margin-right: 0px;
                }
            }
        }
    }
    .row-user {
        .col-sidebar {
            margin-left: 35px;
        }
    }
}

@media (max-width: 992px) {
    .roow {
        padding-bottom: 70px;
        .cool-toolbar {
            flex: 0 0 60px;
            width: 60px;
        }
        .cool-content {
            flex: 0 0 calc(100% - 80px);
            width: calc(100% - 80px);
            margin-right: 20px;
        }
    }
    .row-user {
        .col-sidebar {
            flex: unset;
            max-width: unset;
            margin-left: unset;
        }
        .col-content {
            flex: unset;
            width: unset;
        }
    }
}

@media (max-width: 768px) {
    .roow {
        padding-bottom: 50px;
        flex-wrap: wrap;
        .cool-toolbar {
            flex: 0 0 100%;
            width: 100%;
            position: fixed;
            bottom: 0px;
            left: 0;
            right: 0;
            z-index: 999;
        }
        .cool-content {
            flex: 0 0 100%;
            width: 100%;
            margin-right: 0px;
            .roow-sidebar {
                &--mt40 {
                    margin-top: 0;
                }
                &--mt60px {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .roow {
        padding-bottom: 30px;
    }
}
