<section class="caption-product">
    <div class="caption-product__wrapper">
        <div class="caption-product__wrapper__title">
            <i class="dn-smille"></i>
            <h3>توضیحات محصول</h3>
        </div>
        <div class="caption-product__wrapper__content">
            <h3>سی دی کی بازی BATTLEFIELD 2042 Origin CD Key</h3>
            <p>
                با خرید این محصول، سی دی کی BATTLEFIELD 2042 Origin CD Key برای شما به صورت ایمیل ارسال می
                شود. ضمنا شما می توانید از پروفایل خود بخش سفارش ها، سی دی کی (کد فعالسازی) خریداری شده را
                مشاهده کنید.
            </p>
            <h3>درباره بازی BATTLEFIELD 2042 Origin CD Key بیشتر بدانیم</h3>
            <p>
                Battlefield 2042، یک بازی شوتر اول شخص بوده که بازگشت جنگ‌های بزرگ این فرنچایز محبوب را رقم
                می‌زند. در آینده‌ای نه چندان دور، دنیا به دلیل بی‌قانونی مطلق تغییر کرده است. با کمک تیم و
                استفاده از انبار اسلحه‌ی خود، با میدان‌های جنگی متغیر آشنا شوید و به آنها غلبه کنید.
            </p>
            <p>
                با حمایت از 128 بازیکن به صورت همزمان، Battlefield 2042 مقیاس جنگی بی‌نظیری را به میدان‌های جنگی
                وسیع می‌آورد. بازیکنان بخش‌های مختلفی همچون؛ نسخه‌ی پیشرفته‌ی بخش Conquest و Breakout را تجربه
                می‌کنند. بخش Battlefield Portal؛ یک پلتفورم جدید جامعه‌مدار که اجازه‌ی خلق، اشتراک و اکتشاف
                نبرد‌های غیرمنتظره از گذشته، حال و آینده‌ی Battlefield را به بازیکنان خود می‌دهد. بخش
                Battlefield Hazard Zone؛ تجربه‌ی بقای گروهی و سخت که در آن هر گلوله، هر مبارزه و هر تصمیم از
                اهمیت والایی برخوردار است. در یک تجربه‌ی باارزش بقا، پشت خط‌های دشمن اعزام شوید تا اطلاعات مهم
                را استخراج کنید.
            </p>
            <h3>سی دی کی بازی BATTLEFIELD 2042 Origin CD Key</h3>
            <p>
                قوانین و قواعد جنگ را عوض کرده و نبردهای غیرمنتظره‌ی جهان Battlefield را تجربه کنید. عناوین
                کلاسیکی همچون؛ Battlefield 1942، Battlefield Bad Company 2 و Battlefield 3 را دوباره بازی
                کنید.یا اینکه در نقشه‌های خاطره‌ساز آنها، با محتوا و انبار اسلحه‌ی مدرن Battlefield 2042، خاطرات
                جدیدی برای خود بسازید.
            </p>
            <h3>به دنیایی متفاوت خوش آمدید</h3>
            <p>
                آمریکا و روسیه با جنگ فاصله‌ی چندانی ندارند. جنگ‌های نیابتی ده‌ها سال است که شروع شده‌اند.
                واقعه‌ای که باعث پدید آمدن سربازان باتجربه اما آواره شده است. این متخصصان از مهارت خود برای
                تغییر آینده استفاده می‌کنند. آینده‌ای که ارزش مبارزه داشته باشد.
            </p>
        </div>
    </div>
</section>