<section class="cat-product-sidebar">
    <div class="cat-product-sidebar__wrapper">
        <div class="cat-product-sidebar__wrapper__item">
            <div class="cat-product-sidebar__wrapper__item__title">
                <h3>فیلتر بر اساس سبک بازی</h3>
            </div>
            <div class="cat-product-sidebar__wrapper__item__list">
                <ul>
                    <li><a href="#"><span>اکشن</span><span>30 عنوان</span></a></li>
                    <li><a href="#"><span>استراتژیک</span><span>20 عنوان</span></a></li>
                    <li><a href="#"><span>مسابقه ای</span><span>5 عنوان</span></a></li>
                    <li><a href="#"><span>ماجراجویی</span><span>15 عنوان</span></a></li>
                    <li><a href="#"><span>نقش آفرینی</span><span>10 عنوان</span></a></li>
                    <li><a href="#"><span>ورزشی</span><span>185 عنوان</span></a></li>
                </ul>
            </div>
        </div>
        <div class="cat-product-sidebar__wrapper__item">
            <div class="cat-product-sidebar__wrapper__item__title">
                <h3>فیلتر بر اساس قیمت</h3>
                <p>لطفا مبلغ مورد نظر را بر حسب تومان وارد نمایید</p>
            </div>
            <div class="cat-product-sidebar__wrapper__item__form">
                <form action="filter-price">
                    <div class="cat-product-sidebar__wrapper__item__form__content">
                        <label for="Low">کم ترین قیمت </label>
                        <input id="Low" type="text">
                    </div>
                    <div class="cat-product-sidebar__wrapper__item__form__content">
                        <label for="Low">بیشترین قیمت</label>
                        <input id="Low" type="text">
                    </div>
                    <button>صافی</button>
                </form>
            </div>
        </div>
        <div class="cat-product-sidebar__wrapper__item">
            <div class="cat-product-sidebar__wrapper__item__title">
                <h3>دسته بندی</h3>
            </div>
            <div class="cat-product-sidebar__wrapper__item__category">
                <ul>
                    <li><a href="#">
                            <i class="dn-xbox"></i>
                            ایکس باکس
                        </a></li>
                    <li><a href="#">
                            <i class="dn-play-station"></i>
                            پلی استیشن
                        </a></li>
                    <li><a href="#">
                            <i class="dn-stim"><span class="path1"></span><span class="path2"></span></i>
                            استیم
                        </a></li>
                    <li><a href="#">
                            <i class="dn-cards"><span class="path1"></span><span class="path2"></span><span
                                    class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                            گیفت کارت
                        </a></li>
                    <li><a href="#">
                            <i class="dn-monitor"><span class="path1"></span><span class="path2"></span></i>
                            کامپیوتر
                        </a></li>

                    <li><a href="#">
                            <i class="dn-origin"></i>
                            اوریجین
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="cat-product-sidebar__wrapper__free-delivery">
            <div class="cat-product-sidebar__wrapper__free-delivery__icon">
                <i class=""></i>

            </div>
            <div class="cat-product-sidebar__wrapper__free-delivery__text">
                <h3>ارسال رایگان</h3>
                <p>خرید های بالای 300 هزار تومان</p>
            </div>
        </div>
    </div>
</section>