<section class="gallery-product">
    <div class="gallery-product__wrapper">
        <div class="title-icon">
            <i class="dn-smille"></i>
            <h3>گالری تصاویر</h3>
        </div>
        <div class="gallery-product__wrapper__slider">
            <div class="gallery-product__wrapper__slider__list">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__list__item">
                                <img src="@/assets/img/gallery1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__list__item">
                                <img src="@/assets/img/gallery2.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__list__item">
                                <img src="@/assets/img/gallery3.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__list__item">
                                <img src="@/assets/img/gallery4.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__list__item">
                                <img src="@/assets/img/gallery5.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__list__item">
                                <img src="@/assets/img/gallery1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__list__item">
                                <img src="@/assets/img/gallery2.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__list__item">
                                <img src="@/assets/img/gallery3.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__list__item">
                                <img src="@/assets/img/gallery4.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__list__item">
                                <img src="@/assets/img/gallery5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-product__wrapper__slider__show">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__show__item">
                                <img src="@/assets/img/show-gallery1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__show__item">
                                <img src="@/assets/img/show-gallery1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__show__item">
                                <img src="@/assets/img/show-gallery1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__show__item">
                                <img src="@/assets/img/show-gallery1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__show__item">
                                <img src="@/assets/img/show-gallery1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__show__item">
                                <img src="@/assets/img/show-gallery1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__show__item">
                                <img src="@/assets/img/show-gallery1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__show__item">
                                <img src="@/assets/img/show-gallery1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__show__item">
                                <img src="@/assets/img/show-gallery1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-product__wrapper__slider__show__item">
                                <img src="@/assets/img/show-gallery1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-btn-next">
                        <i class="dn-arrow-left"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                    <div class="swiper-btn-prev">
                        <i class="dn-arrow-right"><span class="path1"></span><span class="path2"></span></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>