<section class="index-content">
    <div class="container">
        <div class="roow">
            <div class="cool-toolbar">
                @@include('toolbar.html')
            </div>
            <div class="cool-content">
                @@include('header.html')
                @@include('home-intro.html')
                @@include('daily-offer.html')
                @@include('bestselling-game.html')
                @@include('comment.html')
                @@include('latest-game.html')
                @@include('gift-cart.html')
                @@include('coupon.html')
                @@include('latest-blog.html')
            </div>
        </div>
    </div>
</section>