<section class="learn-inastallition">
    <div class="learn-inastallition__wrapper">
        <div class="title-icon">
            <i class="dn-smille" data-color="#2E6FD7"></i>
            <h3>آموزش نصب بازی</h3>
        </div>
        <div class="learn-inastallition__wrapper__list">
            <ul>
                <li>
                    <div class="learn-inastallition__wrapper__list__item">
                        <div class="learn-inastallition__wrapper__list__item__title">
                            <h3 data-color="#00FFD1">مرحله ی اول</h3>
                        </div>
                        <div class="learn-inastallition__wrapper__list__item__desc">
                            <p>از <a href="#">این لینک </a> نرم افزار اوریجین را دانلود کرده و نصب کنید</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="learn-inastallition__wrapper__list__item">
                        <div class="learn-inastallition__wrapper__list__item__title">
                            <h3 data-color="#20A1FF">مرحله ی دوم</h3>
                        </div>
                        <div class="learn-inastallition__wrapper__list__item__desc">
                            <p>وارد اکانت خود شوید. )اگر اکانت ندارید، بسازید(</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="learn-inastallition__wrapper__list__item">
                        <div class="learn-inastallition__wrapper__list__item__title">
                            <h3 data-color="#FD6B63">مرحله ی سوم</h3>
                        </div>
                        <div class="learn-inastallition__wrapper__list__item__desc">
                            <p>از منوی Origin دست چپ بالا، روی Redeem Product Code… کلیک کنید.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="learn-inastallition__wrapper__list__item">
                        <div class="learn-inastallition__wrapper__list__item__title">
                            <h3 data-color="
                            #9346FF">مرحله ی چهارم</h3>
                        </div>
                        <div class="learn-inastallition__wrapper__list__item__desc">
                            <p>سپس سی دی کی که از ما دریافت کرده اید را وارد کنید.</p>
                            <p> حال میتوانید از بخش My Games بازی خود
                                را دانلود و نصب کنید.</p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>