<section class="login">
    <div class="container">
        <div class="login__wrapper">
            <div class="login__wrapper__content">
                <div class="login__wrapper__content__title">
                    <div class="login__wrapper__content__title__icon">
                        <i class="dn-tv"><span class="path1"></span><span class="path2"></span><span
                                class="path3"></span><span class="path4"></span><span class="path5"></span><span
                                class="path6"></span><span class="path7"></span></i>
                    </div>
                    <div class="login__wrapper__content__title__text">
                        <h3>دیجیتو گیم</h3>
                        <p>عصر جدید بازی های آنلاین</p>
                    </div>
                </div>
                <div class="login__wrapper__content__form">
                    <div class="login__wrapper__content__form__title">
                        <h3>ورود به پنل کاربری</h3>
                    </div>
                    <div class="login__wrapper__content__form__item">
                        <form action="login">
                            <div class="form-group">
                                <label for="phone">جهت ورود به پنل لطفا شماره تلفن خود را وارد نمایید</label>
                                <div class="login__wrapper__content__form__item__input">
                                    <i class="dn-call-incoming"><span class="path1"></span><span
                                            class="path2"></span><span class="path3"></span></i>
                                    <input type="email" class="form-control" id="phone" placeholder="">
                                </div>
                            </div>
                            <div class="form-group code">
                                <label for="code">کد دریافتی را در این کادر وارد کنید</label>
                                <div class="login__wrapper__content__form__item__input">
                                    <i class="dn-scan"><span class="path1"></span><span
                                            class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></i>
                                    <input type="email" class="form-control" id="code" placeholder="">
                                </div>
                            </div>
                            <div class="login__wrapper__content__form__item__resend-code">
                                <div class="login__wrapper__content__form__item__resend-code__timer">
                                    <p id="clock">ارسال مجدد کد تا <span ></span> دیگر</p>
                                </div>
                                <div class="login__wrapper__content__form__item__resend-code__edit">
                                    <a href="#">ویرایش شماره</a>
                                </div>
                            </div>
                            <div class="login__wrapper__content__form__item__register">
                                <button type="button" class="btn">ثبت و دریافت کد فعال سازی</button>
                            </div>
                           
                        </form>
                    </div>
                </div>
                <div class="login__wrapper__content__select">
                    <div class="login__wrapper__content__select__title">
                        <h3>ورود با</h3>
                    </div>
                    <div class="login__wrapper__content__select__socials">
                        <ul>
                            <li><a href="#"><i class="dn-facebook"><span class="path1"></span><span
                                            class="path2"></span></i></a></li>
                            <li><a href="#"><i class="dn-google"><span class="path1"></span><span
                                            class="path2"></span><span class="path3"></span></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="login__wrapper__text">
                <p>
                    با ورود و یا ثبت نام در دیجیتوگیم شما شرایط و قوانین استفاده از سرویس‌های سایت دیجیتوگیم و قوانین
                    حریم خصوصی آن را می‌پذیرید.
                </p>
            </div>
        </div>
    </div>
</section>