<section class="property-product">
    <div class="property-product__wrapper">
        <div class="title-icon">
            <i class="dn-smille"></i>
            <h3>ویژگی های محصول</h3>
        </div>
        <div class="property-product__wrapper__list">
            <ul>
                <li>
                    <div class="property-product__wrapper__list__item">
                        <div class="property-product__wrapper__list__item__circle">
                            <span data-bg-color="#00FFD1" data-box-shadow="#00ff8526"></span>
                        </div>
                        <div class="property-product__wrapper__list__item__title">
                            <h3>ویژگی شماره ۱ محصول </h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="property-product__wrapper__list__item">
                        <div class="property-product__wrapper__list__item__circle">
                            <span data-bg-color="#FD6B63" data-box-shadow="#fb214933"></span>
                        </div>
                        <div class="property-product__wrapper__list__item__title">
                            <h3>ویژگی شماره 2 محصول </h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="property-product__wrapper__list__item">
                        <div class="property-product__wrapper__list__item__circle">
                            <span data-bg-color="#2E6FD7" data-box-shadow="#1a1aff26" > </span>
                        </div>
                        <div class="property-product__wrapper__list__item__title">
                            <h3>ویژگی شماره 3 محصول </h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="property-product__wrapper__list__item">
                        <div class="property-product__wrapper__list__item__circle">
                            <span data-bg-color="#A16AEF" data-box-shadow="#a16aef26"></span>
                        </div>
                        <div class="property-product__wrapper__list__item__title">
                            <h3>ویژگی شماره 4 محصول </h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="property-product__wrapper__list__item">
                        <div class="property-product__wrapper__list__item__circle">
                            <span data-bg-color="#FFC42C" data-box-shadow="#ff862e26"></span>
                        </div>
                        <div class="property-product__wrapper__list__item__title">
                            <h3>ویژگی شماره 5 محصول </h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="property-product__wrapper__list__item">
                        <div class="property-product__wrapper__list__item__circle">
                            <span data-bg-color="#FFFFFF" data-box-shadow="#ffffff33"></span>
                        </div>
                        <div class="property-product__wrapper__list__item__title">
                            <h3>ویژگی شماره 6 محصول </h3>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>