<section class="required-system">
    <div class="required-system__wrapper">
        <div class="title-icon">
            <i class="dn-smille"></i>
            <h3>سیستم مورد نیاز </h3>
        </div>
        <div class="required-system__wrapper__list">
            <ul>
                <li>
                    <div class="required-system__wrapper__list__item">
                        <div class="required-system__wrapper__list__item__title">
                            <h3>سی پی یو</h3>
                            <span>CPU</span>
                        </div>
                        <div class="required-system__wrapper__list__item__detail">
                            <p>2.0 GHz Intel Pentium 4</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="required-system__wrapper__list__item">
                        <div class="required-system__wrapper__list__item__title">
                            <h3>رم</h3>
                            <span>RAM</span>
                        </div>
                        <div class="required-system__wrapper__list__item__detail">
                            <p>256 MB</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="required-system__wrapper__list__item">
                        <div class="required-system__wrapper__list__item__title">
                            <h3>جی پی یو</h3>
                            <span>CPU</span>
                        </div>
                        <div class="required-system__wrapper__list__item__detail">
                            <p>3D-graphics adapter with 256 MB of memory</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="required-system__wrapper__list__item">
                        <div class="required-system__wrapper__list__item__title">
                            <h3>حافظه</h3>
                            <span>STORAGE</span>
                        </div>
                        <div class="required-system__wrapper__list__item__detail">
                            <p>3 GB</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>