<section class="single-product">
    <div class="container">
        <div class="roow">
            <div class="cool-toolbar">
                @@include('toolbar.html')
            </div>
            <div class="cool-content">
                @@include('header.html')
                <div class="roow-sidebar">
                    <div class="cool-sidebar-list">
                        @@include('single-product-sidebar.html')
                    </div>
                    <div class="cool-context">
                        @@include('gallery-product.html')
                        @@include('property-product.html')
                        @@include('caption-product.html')
                        @@include('learn-inastallition.html')
                        @@include('required-system.html')
                        @@include('comments-user.html')
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>