<section class="single-product-sidebar">
    <div class="single-product-sidebar__wrapper">
        <div class="single-product-sidebar__wrapper__item">
            <div class="single-product-sidebar__wrapper__item__discount">
                <span>10 درصد</span>
            </div>
            <div class="single-product-sidebar__wrapper__item__image">
                <img src="@/assets/img/single-product1.png" alt="">
            </div>
            <div class="single-product-sidebar__wrapper__item__title">
                <h3>بتلفیلد ۲۴۰۲</h3>
            </div>
            <div class="single-product-sidebar__wrapper__item__info">
                <ul>
                    <li><span>عنوان انگلیسی :</span><span>Battlefield 2042</span></li>
                    <li><span>پلتفرم :</span><span>ویندوز <small>-</small> استیم</span></li>
                    <li><span>ژانر :</span><span>اکشن</span></li>
                    <li><span>ریجن :</span><span>آزاد<small>-</small> آرژانتین</span></li>
                    <li><span>تاریخ انتشار :</span><span>۸۲ آبان ۰۰۴۱</span></li>
                    <li><span>امتیاز :</span><span><small>4.8</small> از ۵</span></li>
                    <li><span>تحویل :</span><small>فوری</small></li>
                    <li><span>زبان :</span><span>انگلیسی - روسی</span></li>
                    <li><span>هدیه :</span><span>دارد</span></li>
                </ul>
            </div>
            <div class="single-product-sidebar__wrapper__item__price">
                <ul>
                    <li>4٬000,000 تومان</li>
                    <li>2٬000٬000 تومان</li>
                </ul>
            </div>
            <div class="single-product-sidebar__wrapper__item__btn-add">
                <a href="#"><i class=""></i>افزودن به سبد خرید</a>
            </div>
            <div class="single-product-sidebar__wrapper__item__btn-support">
                <a href="#"><i class=""></i>تماس با پشتیبانی</a>
            </div>
        </div>
        <div class="single-product-sidebar__wrapper__title">
            <div class="title-icon">
                <i class="dn-smille"></i>
                <h3>محصولات مشابه</h3>
            </div>
            <div class="single-product-sidebar__wrapper__title__more">
                <a href="#"><i class="dn-more"></i></a>
            </div>
        </div>
        <div class="single-product-sidebar__wrapper__item">
            <div class="single-product-sidebar__wrapper__item__image">
                <img src="@/assets/img/single-product2.png" alt="">
            </div>
            <div class="single-product-sidebar__wrapper__item__title single-product-sidebar__wrapper__item__title--none-before">
                <h3>سایبر پانک ۷۷۰۲</h3>
            </div>
            <div class="single-product-sidebar__wrapper__item__detail">
                <ul>
                    <li><span>2٬000٬000 تومان</span><span>استیم</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>